// -------------------------------------------------------------------------- */
// ---------- transitions --------------------------------------------------- */
// -------------------------------------------------------------------------- */
$cubic-bezier-slow-in: .8,.01,.57,.88;
$cubic-bezier-fast-in: .03,.74,.43,.95;


@mixin standard-transition($duration: 2s, $delay: 0, $timing: $cubic-bezier-slow-in) {
    transition-timing-function: cubic-bezier($timing);
    transition-duration:$duration;
    transition-delay:$delay;
    transition-property:all;
}

@mixin standard-transition-bg-color($duration: 2s, $delay: 0, $timing: $cubic-bezier-slow-in) {
    transition-timing-function: cubic-bezier($timing);
    transition-duration:$duration;
    transition-delay:$delay;
    transition-property:background-color,color;
}

@mixin standard-transition-opacity($duration: 2s, $delay: 0, $timing: $cubic-bezier-slow-in) {
    transition-timing-function: cubic-bezier($timing);
    transition-duration:$duration;
    transition-delay:$delay;
    transition-property:opacity;
}

@mixin standard-transition-bottom($duration: 2s, $delay: 0, $timing: $cubic-bezier-slow-in) {
    transition-timing-function: cubic-bezier($timing);
    transition-duration:$duration;
    transition-delay:$delay;
    transition-property:bottom;
}

@mixin standard-transition-left($duration: 2s, $delay: 0, $timing: $cubic-bezier-slow-in) {
    transition-timing-function: cubic-bezier($timing);
    transition-duration:$duration;
    transition-delay:$delay;
    transition-property:left;
}

@mixin standard-transition-padding($duration: 2s, $delay: 0, $timing: $cubic-bezier-slow-in) {
    transition-timing-function: cubic-bezier($timing);
    transition-duration:$duration;
    transition-delay:$delay;
    transition-property:padding-left;
}

@mixin standard-transition-transform($duration: 2s, $delay: 0, $timing: $cubic-bezier-slow-in) {
    transition-timing-function: cubic-bezier($timing);
    transition-duration:$duration;
    transition-delay:$delay;
    transition-property:transform;
}